body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

#banner {
    background-color: #0073e6;
    color: #fff;
    padding: 20px;
}

#questions-box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 18px;
    margin-top: 0;
}

.question {
    display: none;
}

.timer {
    display: none;
}

.question-active {
    display: block;
}

.timer-active {
    display: block;
    font-size: 24px;
    color: #0073e6;
    margin-top: 10px;
}

button#restart {
    background-color: #0073e6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button#restart:hover {
    background-color: #0054a4;
}

#next-question {
    background-color: #0073e6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#next-question:hover {
    background-color: #0054a4;
}