body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#header {
    background-color: #e99f4c;
    color: #264143;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    border: 2px solid #264143;
    background-color: #264143;
    color: #ffdcb4;
    width: 600px;
    margin-left: 29%;
    margin-right: 30%;
    padding: 30px;
    border-radius: 10px;
}

#username-section {
    margin-top: 20px;
}

#username {
    padding: 10px;
    border: 2px solid #264143;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;
    width: 200px;
}

#start-quiz {
    background-color: #ffdcb4;
    color: #264143;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#questions-box {
    background-color: #264143;
    color: #ffffff;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    font-size: 22px;
}

.question {
    padding: 40px;
}

#banner {
    background-color: #ffdcb4;
    color: #264143;
    padding: 20px;
    border-radius: 10px;
}

.beer-logo-image {
    width: 50px;
    height: 50px;
}

.toast.left {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.toast.right {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#questions-box {
    background-color: #264143;
    color: #ffffff;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    font-size: 22px;
}

h2 {
    font-size: 18px;
    margin-top: 0;
}

#border {
    border: 2px solid #e99f4c;
}

.question {
    padding: 40px;
}

.timer {
    display: block;
    border: 2px solid #e99f4c;
    margin: 15px;
    padding: 15px 10px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    max-width: 430px;
    margin: 0 auto;
}

#restart,
#next-question,
#score {
    flex: 1;
    width: 120px;
    background-color: #ffdcb4;
    color: #264143;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
}

#next-question,
#score {
    margin-left: 10px;
}