body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

#social-icons-container {
    position: absolute;
    bottom: 0;
    right: 0;
}

#header {
    background-color: #ffdcb4;
    color: #264143;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
}

#banner {
    background-color: #ffdcb4;
    color: #264143;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    border: 2px solid #264143;
    background-color: #264143;
    color: #e99f4c;
    width: 600px;
    padding: 30px;
    border-radius: 10px;
}

.social-icon {
    width: 50px;
    height: 50px;
}

.social-icon-facebook {
    height: 55px;
    width: 55px;
}

#username-section {
    border-radius: 10px;
    background-color: #e99f4c;
}

#username {
    padding: 10px;
    border: 2px solid #264143;
    font-size: 18px;
    margin-right: 10px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hide {
    display: none;
}

#start-quiz {
    background-color: #ffdcb4;
    color: #264143;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

#questions-box {
    background-color: #264143;
    color: #ffffff;
    border: 1px solid #ccc;
    padding: 30px;
    border-radius: 10px;
    font-size: 22px;
    height: 100%;
}

.question {
    padding: 40px;
}

.beer-logo-image {
    width: 50px;
    height: 50px;
}

.toast.left {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.toast.right {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

h2 {
    font-size: 18px;
    margin-top: 0;
}

.border {
    border: 2px solid #e99f4c;
}

.question {
    padding: 40px;
}

.timer {
    display: block;
    border: 2px solid #e99f4c;
    margin: 15px;
    padding: 15px 10px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    max-width: 430px;
    margin: 0 auto;
}

#restart,
#next-question,
#score {
    flex: 1;
    width: 120px;
    background-color: #ffdcb4;
    color: #264143;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
}

#next-question,
#score {
    margin-left: 10px;
}

#score-tick {
    color: green;
}

#score-cross {
    color: red;
}

#congratulations-banner {
    background-color: #ffdcb4;
    color: #264143;
    padding: 20px;
    border-radius: 10px;
}

#congratulations-message {
    font-size: 18px;
    text-align: center;
}

.feedback-form {
    background-color: #ffdcb4;
    color: #264143;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
}

#feedback-text {
    width: 100%;
    height: 100px;
    margin: 10px 0;
}

#submit-feedback {
    background-color: #264143;
    color: #ffdcb4;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

@media (max-width: 800px) {
    #header {
        width: auto;
        max-width: 100%;
    }

    #banner {
        width: auto;
        max-width: 100%;
    }

    h1 {
        width: auto;
        max-width: 100%;
        font-size: 22px;
    }

    .beer-logo-image {
        width: 35px;
        height: 35px;
    }

    #social-icons-container {
        margin-top: 20px;
        width: 100%;
    }

    .social-icon {
        height: 35px;
        width: 35px;
    }

    .social-icon-facebook {
        height: 39px;
        width: 39px;
    }

    #questions-box {
        width: auto;
        max-width: 100%;
    }

    #restart,
    #next-question,
    #score {

        width: 75px;
    }

    #username-section {
        max-width: 100%;
        width: auto;
    }

    #congratulations-banner {
        width: auto;
        max-width: 100%;
    }
}

@media (max-width: 450px) {
    h1 {
        font-size: 18px;
    }

    p {
        font-size: 15px;
    }

    #border {
        font-size: 15px;
    }

    .timer {
        font-size: 17px;
    }

    #restart {
        font-size: 15px;
        text-align: center;
    }
    
    #next-question {
        font-size: 15px;
        text-align: center;
    }

    #score {
        font-size: 15px;
        text-align: center;
    }
}